main {
    display: flex;
    justify-content: center;
}
.conteudo {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    width: 600px;
    height: 100vh;
    padding: 0 20px;
}

.img_paragrafo {
    width: 32px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .conteudo {
        height: 150vh;
    }
}
@media (orientation: landscape) {
    .conteudo {
        height: 200vh;
    }
}